html {
  font-family: "rubik", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 660px) {
  html {
    max-width: 660px;
    overflow-x: hidden;
  }
}
.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
}

p {
  font-weight: normal;
  font-size: 0.75rem;
}

.container {
  display: flex;
}

header, footer {
  width: 100%;
  background-color: white;
}

header .container, footer .container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}

div.logo {
  display: flex;
  padding-left: 1.5rem;
  align-items: center;
  height: 2rem;
}

nav.desktop {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}

nav {
  text-align: right;
  flex-grow: 1;
}
nav ul li {
  display: inline-block;
  padding-right: 1rem;
}

nav ul li a{
  color: black;
}

nav ul li a:hover {
  color: #2196f3;
}

@media only screen and (max-width: 1600px) {
    nav.mobilenav {
      display: none;
    }
}

@media only screen and (max-width: 660px) {
  nav.desktop {
    display: none;
  }

  nav.mobilenav {
    display: contents;
  }

  .logo span, .logo span.bold {
    display: none;
  }
}

.banner {
  display: flex;
  background-color: #2196f3;
  align-items: center;
}

.banner .left {
  width: 60%;
}

.left img {
  width: 95%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
}

.banner .right {
  width: 40%;
  margin: 0 2rem;
}

.banner span {
  text-align: left;
}

.banner h1, .banner h2 {
  padding-bottom: 1.5rem;
}

.button {
  padding: 0.5rem;
  margin: 0;
  width: 90%;
  text-align: center;
  color: white;
  line-height: 2rem;
  background-color: black;
}

.button:hover {
  color: black;
  background-color: gainsboro;
  transition: background-color 0.1s linear 0s;
}

@media only screen and (max-width: 660px) {
  .banner {
    display: block;
  }

  .banner .left {
    width: 100%;
    padding: 0;
  }

  .left img {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
  }

  .banner .right {
  width: 100%;
  padding: 2rem 1rem;
  }

  .banner h1 {
    padding-bottom: 2rem;
  }

  .banner h1, .banner h2 {
    width: 90%;
  }

  .button {
    width: 80%;

  }
}

.info, div.exhibit {
  display: flex;
  background-color: white;
  align-items: flex-start;
}

div.main, div#video {
  width: 60%;
}

.main img, #video video {
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

div.caption {
  padding-left: 1.5rem;
  width: 90%;
  line-height: 1.25rem;
  text-align: left;
}

.info .additional, div.projects {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main span {
  text-align: left;
}

.info h1 {
  padding-bottom: 1.5rem;
}

div.event, div.example {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

div.event:hover, div.example:hover {
  background-color: gainsboro;
  transition: background-color 0.1s linear 0s;
}

.event img, .example img {
  height: auto;
  width: 35%;
  padding: 1rem;
}

.event span, .example span {
  width: 65%;
  text-align: left;
}

.event h2, .event p .example h2, .example p {
  padding-bottom: 0.5rem;
  line-height: 1.25rem;
}

.event a {
  font-weight: bold;
  font-size: 0.75rem;
}

@media only screen and (max-width: 1600px) {
  .mobileinfo {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .info, div.projects, div.caption {
    display: none;
  }

  .mobileinfo {
    display: contents;
    padding: 1rem;
  }

  div.event {
    display: inline-block;
  }

  .event img {
    height: auto;
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .event span {
    width: 100%;
  }

  .event h2, .event p, .event a {
    padding-left: 1rem;
  }

  div#video {
    width: 100%;
  }

  #video video {
    padding-bottom: 2rem;
  }
}

.learning {
  max-width: 1500px;
  background-color: #2196f3;
  padding: 2rem 3.5rem;
  margin-top: 2rem;
  display: block;
  text-align: center;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pair {
  width: 25%;
  text-align: left;
  background-color: white;
  margin: 1rem;
}

div.course-img img {
    height: auto;
    max-height: 50%;
    max-width: 100%;
    overflow:  hidden;
    align-items: stretch;
}

div.course-content {
  padding: 1rem 0 1.5rem 1rem;
}

div.course-content span {
  line-height: 2rem;
}

@media only screen and (max-width: 660px) {
  div.course-img, div.course-content span, div.course-content p {
    display: none;
  }

div.course-content {
  padding: 1rem;
}

  .flexbox {
    display: block;
  }

  div.headline {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pair {
    width: 100%;
    margin: 0.5rem;
    background-color: white;
    color: black;
  }

  .pair:hover {
    color: black;
    background-color: gainsboro;
    transition: background-color 0.1s linear 0s;
  }
}

.thesis {
  max-width: 1500px;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  text-align: center;
}

.thesis h1 {
  padding-bottom: 2rem;
}

footer {
  background-color: #2196f3;
  color: white;
  max-width: 1500px;
}

.copyright {
  padding-left: 1.5rem;
}
